<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DOCUMENT SERVICES</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">DOKUMEN</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Edit Dokumen</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">dokumen</p>
        <form action="/update/<%= document.id %>" method="post">
          <input type="text" name="itemName" placeholder="Nama Dokumen" value="<%= document.name %>">
          <input type="text" name="itemType" placeholder="Tipe Dokumen" value="<%= document.type %>">
          <input type="text" name="itemFolder" placeholder="Folder/Direktori" value="<%= document.folder_id %>">
          <input type="text" name="itemContent" placeholder="Isi Konten" value="<%= document.content %>">
          <input type="text" name="itemTime" placeholder="Tanggal dibuat" value="<%= document.timestamps %>">
          <input type="text" name="itemOwner" placeholder="Nama Pemilik Dokumen" value="<%= document.owner_id %>">
          <input type="text" name="itemShare" placeholder="Share di" value="<%= document.share %>">
          <input type="text" name="itemCompany" placeholder="Company" value="<%= document.company_id %>">
          <input type="submit" value="Perbarui">
        </form>
      </div>
      <a href="/index" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>