<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document Services</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">Show Document</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Semua Dokumen</h1>
        <a href="/new" class="new-button">+ Tambah</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column" style="padding:10px">ID</span>
          <span style="padding:10px">Name</span>
          <span style="padding:10px">Type</span>
          <span style="padding:10px">Folder</span>
          <span style="padding:10px">Content</span>
          <span style="padding:10px">Date</span>
          <span style="padding:10px">Owner</span>
          <span style="padding:10px">Share</span>
          <span style="padding:10px">Company</span>
        </div>
        <ul class="table-body">
          <% document.forEach((document) => { %>
            <li>
              <div class="item-data">
                <span class="id-column" style="padding:10px"><%= document.id %></span>
                <span class="name-column" style="padding:10px"><%= document.name %></span>
                <span class="name-column" style="padding:10px"><%= document.type %></span>
                <span class="name-column" style="padding:10px"><%= document.folder_id %></span>
                <span class="name-column" style="padding:10px"><%= document.content %></span>
                <span class="name-column" style="padding:10px"><%= document.timestamps %></span>
                <span class="name-column" style="padding:10px"><%= document.owner_id %></span>
                <span class="name-column" style="padding:10px"><%= document.share %></span>
                <span class="name-column" style="padding:10px"><%= document.company_id %></span>
              </div>
              <div class="item-menu">
                <form action="/delete/<%= document.id %>" method="post">
                  <input type="submit" value="Hapus">
                </form>
                <a href="/edit/<%= document.id %>">Edit</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>