<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document Services</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
       <h1>Penambahan Dokumen</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Tulis nama dokumen baru</p>
        <form action="/create" method="post">
          <input type="text" name="itemName" placeholder="Nama Dokumen">
          <input type="text" name="itemType" placeholder="Tipe Dokumen">
          <input type="text" name="itemFolder" placeholder="Folder/Direktori">
          <input type="text" name="itemContent" placeholder="Isi Konten">
          <input type="text" name="itemTime" placeholder="Tanggal dibuat">
          <input type="text" name="itemOwner" placeholder="Nama Pemilik Dokumen">
          <input type="text" name="itemShare" placeholder="Share di">
          <input type="text" name="itemCompany" placeholder="Company">
          <input type="submit" value="Tambahkan">
        </form>
      </div>
      <a href="/index" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>