<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document Services</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">Document Services</h2>
        <h1 class="title">Layanan Dokumen</h1>
        <p class="description">
          Manajemen dokumen yang mudah dan terpadu.
          <br>
          Tambahkan dokumen baru, mulai tambahkan.
        </p>
        <a href="/index" class="index-button">Lihat semua dokumen</a>
      </div>
      <div class="top-image">
        <img src="/images/dok.png">
      </div>
    </div>
  </body>
</html>